﻿@model ForJunior.Models.Film
@{
    ViewBag.Title = "Просмотр фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tbody>
        <tr>
            <td>Название фильма</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Постер</td>
            <td>@Model.Poster</td>
        </tr>
        <tr>
            <td>Режисер</td>
            <td>@Model.Produser</td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td>@Model.Year</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>@Model.Descriotion</td>
        </tr>
        <tr>
            <td>Выложил</td>
            <td>@Model.Autor</td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Редактровать" onclick=""/>
            </td>
        </tr>
    </tbody>
</table>
