﻿@model ForJunior.Models.ListFilms
@{
    ViewBag.Title = "Просмотр списка фильмов:";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LookForFilms</h2>
<table>
    <tbody>
        <tr>
            <th>Название фильна</th>
            <th>Постер фильма</th>
            <th>Режисер</th>
            <th>Год издания</th>
        </tr>
        @for(int i = 0; i < Model.listFilms.Count; i++)
        {            
               <tr>                    
                    <td>
                        <a href="~/Home/LookFilm?id=@Model.listFilms[i].ID">
                        @Model.listFilms[i].FilmName
                        </a>
                    </td>
                    <td>
                        <a href="~/Home/LookFilm?id=@Model.listFilms[i].ID">
                        @Model.listFilms[i].Poster
                            </a>
                    </td>
                    <td>
                        <a href="~/Home/LookFilm?id=@Model.listFilms[i].ID">
                        @Model.listFilms[i].Producer
                            </a>
                    </td>
                    <td>
                        <a href="~/Home/LookFilm?id=@Model.listFilms[i].ID">
                        @Model.listFilms[i].Year
                        </a>
                    </td>                    
                </tr>            
        }
    </tbody>
</table>

