﻿@model ForJunior.Models.RegistrationNewFilm
@{
    ViewBag.Title = "Регистрация нового фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ActionForm", "NewFilm", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset id="param">
        <legend>Форма регистрации</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FilmName)
                @Html.TextBoxFor(m => m.FilmName)
            </li>
            <li>
                @Html.LabelFor(m => m.Poster)
                @Html.TextBoxFor(m => m.Poster)
            </li>
            <li>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.Producer)
                @Html.TextBoxFor(m => m.Producer)
            </li>
        </ol>
        <input type="submit" value="Регистрация" />
    </fieldset>
}

